.top-download {
    border-radius: 23px;
    background-color: #1f2122;
    padding-top: 30px;
    background-color: var(--color-darkest);
}

.top-download .primary-btn{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: var(--padding-primary);
}