.top-download {
    border-radius: 23px;
    background-color: #1f2122;
    padding-top: 30px;
    background-color: var(--color-darkest);
}
.button-all{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    flex-wrap: wrap;
}