.hero-main{
    background: url('../../assets/images/banner-bg.jpg') no-repeat top right/cover;
    background-color: var(--purple);
    color: var(--white);
    border-radius: var(--border-radius-primary);
    padding:calc( var( --padding-primary)/2);
    
}
.hero-text{
    max-width: 500px;
}
.hero-title{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
}

.hero-title em{
    font-style: normal;
    color: var(--purple);
}

.hero-subtitle{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
}