.most-popular-item{
    flex: 1 25%;
  }
  .most-popular-item-image{
      width: 100%;
      border-radius: 10px;
      margin-bottom: calc(var( --margin-primary) /4);
  }
  
  .most-popular-item-content{
      display: flex;
      justify-content: space-between;
  }
  .most-popular-item-title{
      font-size: 14px;
      line-height: 1.5rem;
  }