.library-gaming-card{
    flex: 1 1 100%;
    /* border-bottom: 1px solid #27292a;
    margin-bottom: 20px;
    padding-bottom: 20px; */
    
}
.library-gaming-card ul{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid var(--purple);
   padding: calc(var(--padding-primary) /4);
    
}
.library-gaming-card h4{
   font-size: 1rem;
   font-weight: bold;
     
 }
 .library-gaming-card span{
    font-size: 1rem;
      
  }
.library-gaming-item-image{
    border-radius: 10px;
}
